body {
    font-family: 'Arial', sans-serif;
}


.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
}


#hero {
    padding: 4rem 0;
}

.jumbotron {
    background-color: #f8f9fa;
}

.jumbotron img {
    width: 150px;
}


#work {
    padding: 4rem 0;
}

.card {
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5); 
}


#skills {
    padding: 4rem 0;
}

.list-group {
    max-width: 400px; 
    margin: auto;
}


#about {
    padding: 4rem 0;
}


footer {
    color: #6c757d;
    background-color: #f8f9fa;
    margin-top: 2rem;
}


a:hover {
    color: #007bff;
}


.btn:hover {
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.5);
}

.navbar-nav .nav-link:hover {
    color: red;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;   
  }


   
   .footer-link:hover {
    color: #007bff; 
    text-decoration: underline; 
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


